@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: linear-gradient(180deg, #f3f0e9 0%, #ffffff 30%) !important;
  min-height: 100vh;
}


.btn-primary {
  --bs-btn-bg: #6f4e37; 
  --bs-btn-border-color: #5a3f2d;
  --bs-btn-hover-bg: #5a3f2d;
  --bs-btn-hover-border-color: #4a3323;
  --bs-btn-active-bg: #4a3323;
  --bs-btn-active-border-color: #4a3323;
  --bs-btn-disabled-bg: #6f4e37;
  --bs-btn-disabled-border-color: #6f4e37;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  background-color: #4a3323 !important;
  border-color: #4a3323 !important;
}